@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-display: swap;
    src: local('Raleway-Regular'),
    local('Raleway_Regular'),
    url("/fonts/Raleway-Regular.woff2") format('woff2'),
    url("/fonts/Raleway-Regular.woff") format('woff');
    }

@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-display: swap;
    src: local('Raleway-ExtraBold'),
    local('Raleway_Regular'),
    url("/fonts/Raleway-ExtraBold.woff2") format('woff2'),
    url("/fonts/Raleway-ExtraBold.woff") format('woff');
    }