html {
  height: 100%;
}

.page {
  position: relative;
  display: grid;
  justify-items: center;
  min-width: 801px;
  height: 100%;
  font-family: Raleway, sans-serif;
}

.page::before {
  content: '';
  z-index: 3;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.3);
}

.heading {
  z-index: 3;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 739px;
  padding-top: 60px;
  color: #000;
  font-weight: 800;
  font-size: 116px;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.heading::after {
  content: '*';
}

.heading:hover {
  color: #4e4e4e;
}

.heading:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  position: absolute;
  top: 182px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 742px;
  height: 142px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 14px 0 0 #000;
  color: #000;
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  white-space: pre;
}

.video {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
