body {
    min-width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

.video__video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 1;
    inset: 0;
}

.title {
    font-weight: 800;
    font-size: 116px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    position: static;
    z-index: 2;
}

.title__title-third::after {
    content: "*";
}

.title:hover::after {
    font-size: 35px;
    font-weight: 400;
    text-transform: none;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 36px 44px;
    box-shadow: 0px 14px;
    content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
    white-space: pre;
    position: absolute;
    z-index: 4;
    top: 182px;
}

.title:hover::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    inset: 0;
    z-index: 3;
}
